.container {
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.title {
    font-size: 20px;
    font-weight: 800;   
    border-bottom: 2px solid green; 
    margin-bottom: 50px;    
}

.field {
    font-size: 18px;
    font-weight: bold;
}

.books-chars {
    display: flex;
    flex-direction: column;
    width: 500px;
    margin-right: 300px;
}

.info {
    display: flex;
}

.info .value {
    font-size: 18px;
    padding-left: 20px;
}
